
<% include ../partials/head %>
<div class="col-sm-6 mx-auto">
<div class="card">
<h2 class="card-header"><%=user.name%>'s Notes <a href="/notes/add-note"><span class="fas fa-plus-square" style="font-size: 1em;"></span></a></h2>
</div>
</div><br><br>
<div class="container pt-4 pb-4">
  <div class="card-columns">
    <%if(notes.length!=0) 
for(var i=0; i<notes.length; i++) { %>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title"><%=notes[i].title.slice(0,100)%>...</h2>
      <p class="card-text"><small class="text-muted">Last updated <%=notes[i].createdAt.toString().slice(0,25)%></small></p>
      <a href="/notes/view-note/<%= notes[i]._id%>" class="card-link">See more...</a>
    </div>
  </div>
  
<%} else {%>
<div class="card-body">
  <h3 class="card-title">No Notes Listed</h3>
   <a href="/notes/add-note" class="btn btn-primary" title="add">Add a Note</a><br>
</div> 
<%}%>
  </div></div>

  
<% include ../partials/footer %>











    
