

<% include ../partials/head %>
<div class="jumbotron" style="text-align: center;">
  <h1 class="display-4">MyNOTES</h1>
  <p class="lead">Personal Notes Manager</p>
  <hr class="my-4">
  <p>An application to keep track of your small notes. On logging in, all the notes added by you are displayed.You can add, update or delete any of the notes as per your requirement, as and when required.<br><br>
  ver: 1.0.0</p>
</div>
<% include ../partials/footer %>
