<% include ../partials/head %>

<div class="card mx-auto">
<h2 class="card-header">Change Password </h2>
  <div class="card-body">
    <h3 class="card-title">
  <form class="form" action="/users/change-password" method="post">   
  <input type="password" name="oldpassword" class="form-control" placeholder="Current Password" required autofocus><br>
  <input type="password" name="newpassword" class="form-control" placeholder="New Password" required autofocus><br>
  <input type="password" name="newpassword2" class="form-control" placeholder="Confirm New Password" required autofocus><br>
  <button class="btn btn-primary" type="submit">Submit</button>
  <a href="/" class="btn btn-secondary" title="Return">Return</a>
  </form>
    </h3>
  </div>
</div>

<% include ../partials/footer %>















