<% include ../partials/head %>

  <div class="container"> 
<center>
  <form class="form" action="/users/change-password" method="post">
  <h1 class="h3 mb-3 font-weight-normal">Change Password</h1><br>    
  <input type="password" style="width:50%" name="oldpassword" class="form-control" placeholder="Current Password" required autofocus><br>
  <input type="password" style="width:50%" name="newpassword" class="form-control" placeholder="New Password" required autofocus><br>
  <input type="password" style="width:50%" name="newpassword2" class="form-control" placeholder="Confirm New Password" required autofocus><br>
  <button class="btn btn-lg btn-primary btn-block" style="width:50%"  type="submit">Submit</button>
  </form>
</center>
  </div>
</div>

<% include ../partials/footer %>
