<% include ../partials/head %>
<div class="col-sm-6 mx-auto">
<div class="card">
<h2 class="card-header">Grievence/Suggestion </h2>
  <div class="card-body">
    <h3 class="card-title">
  <form class="form" action="/contact" method="post">   
  <%if(user){%>
  <input type="text" class="form-control" name="name" value="<%=user.name%>"" required autofocus readonly><br>
  <input type="text" class="form-control" name="email" value="<%=user.username%>" required autofocus readonly><br>
  <% } else{ %>
  <input type="text" name="name" class="form-control" placeholder="Name" required autofocus><br>
  <input type="email" name="email" class="form-control" placeholder="Email ID" required autofocus><br>
  <%}%>
  <input type="text" name="subject" class="form-control" placeholder="Subject" required autofocus><br>
  <textarea name="message" class="form-control" placeholder="Message..." rows=7 required autofocus></textarea><br>
  <button class="btn btn-primary" type="submit">Submit</button>
  <%if(user){%>
  <a href="/notes" class="btn btn-secondary" title="Return">Return</a>
  <% } else{ %>
  <a href="/" class="btn btn-secondary" title="Return">Return</a>
  <%}%>
  </form>
    </h3>
  </div>
</div>
</div>
<% include ../partials/footer %>

