<% include ../partials/head %>

  <div class="container"> 
<center>
  <form class="form" action="/users/login" method="post">
  <h1 class="h3 mb-3 font-weight-normal">Log In</h1><br>    
  <input type="email" style="width:50%" name="username" class="form-control" placeholder="Email ID" required autofocus><br>
  <input type="password" style="width:50%" name="password" class="form-control" placeholder="Password" required><br>
  <button class="btn btn-lg btn-primary btn-block" style="width:50%"  type="submit">Submit</button>
  </form>
</center>
  </div>
</div>


<% include ../partials/footer %>





