<% include ../partials/head %>
<div class="jumbotron" style="text-align: center;">
  <h1 class="display-4">MyNOTES</h1>
  <p class="lead">Personal Notes Manager</p>
</div>
<% include ../partials/footer %>
