

<% include ../partials/head %>
<div class="jumbotron">
  <center>
  <h1 class="display-4">MyNOTES</h1>
  <p class="lead">Personal Notes Manager</p>
  </center>
  <hr class="my-4">
  MyNOTES, a simple and convenient personal notes manager app. Forgetting is now a thing of past, Carry your notes in your pockets and access them anywhere with this Notes Manager.
<br><br>
<div class="col-sm-6 mx-auto">
  <button type="button" class="list-group-item list-group-item-action active">
    Features of MyNOTES:
  </button>
  <button type="button" class="list-group-item list-group-item-action">Simple, easy to use User Interface.
</button>
  <button type="button" class="list-group-item list-group-item-action" >Accessible over all platforms.</button>
  <button type="button" class="list-group-item list-group-item-action" >Safe and Secured.</button>
</div>
ver: 3.0.0

</div>
<% include ../partials/footer %>